<!-- Generated via grunt-styleguide-colors -->
<section class="sg-colors">
<h1>Colors</h1>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #040d13;"></div>
        <b>'color-definition__black':</b> #040d13
    </div>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #ffffff;"></div>
        <b>'color-definition__white':</b> #ffffff
    </div>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #9e9e9e;"></div>
        <b>'color-definition__gray':</b> #9e9e9e
    </div>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #ebeef2;"></div>
        <b>'color-definition__gray--light':</b> #ebeef2
    </div>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #292929;"></div>
        <b>'color-definition__gray--dark':</b> #292929
    </div>
    <div class="sg-colors__definition">
        <div class="sg-colors__item" style="background: #00a2db;"></div>
        <b>'color-definition__blue':</b> #00a2db
    </div>
</section>
